* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  background-color: white;
}
.create-new-chat-form {
  align-items: end;
  height: 280px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.create-new-chat {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  width: 50%;
  box-sizing: border-box;
  height: 400px;
  position: absolute;
  top: 200px;
  left: 25%;
  padding: 20px;
  z-index: 1100;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#form-input-name {
  flex: 1;
  background-color: #f0f0f0;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-right: 10px;
  height: 30px;
  width: 70%;
}
#cancellation-create-new-chat {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
#cancellation-create-new-chat:hover {
  color: #8f8b8f;
}
#cancellation-create-new-chat:active {
  color: white;
  transform: scale(0.9);
}
.new-user-info {
  display: flex;
  margin-top: 30px;
}
.new-user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.new-user-name-time-conteiner {
  margin-left: 20px;
  align-self: center;
}
@media (min-width: 600px) and (max-width: 900px) {
  #chat-list {
    margin-top: 150px;
    height: 800px;
  }
  .create-new-chat {
    height: 300px;
    width: 70%;
    left: 15%;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  #chat-list {
    margin-top: 100px;
    height: 900px;
  }
  .create-new-chat {
    height: 400px;
    width: 70%;
    left: 15%;
  }
  .add-new-user-title {
    font-size: 20px;
  }
  #form-input-name {
    font-size: 10px;
  }
  #cancellation-create-new-chat {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 400px) {
  #chat-list {
    margin-top: 80px;
    height: 1000px;
  }
  #form-input-name {
    font-size: 10px;
  }
  #cancellation-create-new-chat {
    font-size: 10px;
  }
  #form-input-name {
    font-size: 10px;
  }
  #cancellation-create-new-chat {
    font-size: 10px;
  }
  .add-new-user-title {
    font-size: 20px;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  background-color: #141214;
  height: 150px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.headerContainer {
  width: 33.3%;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.icon {
  font-size: 30px;
  margin: 30px 10px 30px 30px;
}

#icon-burger-menu:hover {
  color: #8f8b8f;
}
#icon-burger-menu:active {
  color: white;
  transform: scale(0.9);
}
.icon-button-search {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  transition-duration: color;
}
.icon-button-search:hover {
  color: #8f8b8f;
}
.icon-button-search:active {
  color: white;
  transform: scale(0.9);
}
h1 {
  display: flex;
  justify-content: center;
}
.headerIconsRight {
  display: flex;
  justify-content: end;
  align-items: center;
}
.search-input {
  height: 30px;
  margin-right: 30px;
}


.icon-button-create {
  background: #2f80de;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 30px;
  border: none;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: icon-button-create 2s infinite;
}
.icon-button-create:hover {
  background-color: #4169e1;
  color: white;
}
.icon-button-create:active {
  transform: scale(0.9);
}

#iconCreate:hover {
  color: white;
  animation: none;
}
#iconHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes icon-button-create {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(47, 128, 222, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(47, 128, 222, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(47, 128, 222, 0);
  }
}
@keyframes icon-button-create {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(47, 128, 222, 0.4);
    box-shadow: 0 0 0 0 rgba(47, 128, 222, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(47, 128, 222, 0);
      box-shadow: 0 0 0 10px rgba(47, 128, 222, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(47, 128, 222, 0);
      box-shadow: 0 0 0 0 rgba(47, 128, 222, 0);
  }
}


.chatPerson {
  border: 1px solid black;
  color: black;
  margin-top: 20px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.chat-item {
  display: flex;
  align-items: center;
  justify-content: start;
}
.chat-item-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center;
}
.chat-item-info {
  color: white;
  margin-left: 20px;
}
a {
  text-decoration: none;
}
.chat-item-name-time {
  display: flex;
  flex-direction: column;
  width: max-content;
}
.chat-item-name {
  flex-grow: 1;
  width: max-content;
  margin-top: 5px;
}
.chat-item-time {
  margin-top: 5px;
  color: #8f8b8f;
  margin-bottom: -10px;
}
.chat-item-last-message-span {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.last-message {
  justify-content: center;
  align-content: center;
}

#done-all {
  width: max-content;
  margin-top: 15px;
  font-size: 20px;
  margin-left: 5px;
}
#done-all:hover {
  color: white;
}
#done-all:active {
  transform: scale(1);
}


#chat-list {
  margin-top: 150px;
  list-style-type: none;
  overflow-y: auto;
  height: 800px;
  padding-bottom: 20px;
}
.chatPerson {
  background-color: #141214;
  border-radius: 20px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  background-color: white;
  color: #333;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 150px;
  padding-bottom: 60px;
}
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 730px;
}
.message-self {
  color: white;
  background-color: #141214;
  border-radius: 20px;
  border: 1px solid black;
  margin: 5px 0;
  padding: 9px;
  max-width: 30%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  align-self: flex-end;

}
.message-other {
  color: black;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  margin: 5px 0;
  padding: 9px;
  max-width: 30%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  align-self: flex-start;
  
}
.message-other * {
  color: black;
}
.new-message-animation{
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.message-time {
  color: #8f8b8f;
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
}
#done-all-chat {
  width: max-content;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
}

@media (max-width: 900px) {
}
@media (max-width: 600px) {
  .messages {
    margin-top: -55px;
    max-height: 785px;
  }
}
@media (max-width: 400px) {
  .messages {
    margin-top: -70px;
    max-height: 800px;
  }
}


header {
  background-color: #141214;
  height: 150px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.headerContainer {
  width: 33.3%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.linkMain {
  color: white;
}
.icon {
  font-size: 30px;
  margin: 30px;
}
.icon:hover {
  color: #8f8b8f;
}
.icon:active {
  color: white;
  transform: scale(0.9);
}
.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
}
.headerIconsRight {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px;
  left: 40%;
}

.personPhoto {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.personNameStatus {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.personName {
  font-size: 24px;
  width: max-content;
  margin-bottom: 8px;
}

.personStatus {
  font-size: 16px;
  color: #8f8b8f;
}
@media (max-width: 900px) {
  .icon {
    margin: 10px;
  }
  .personStatus {
    font-size: 15px;
  }
  .personName {
    font-size: 20px;
  }
  .person {
    left: 35%;
  }
}
@media (max-width: 600px) {
  .personPhoto {
    width: 70px;
    height: 70px;
  }
  header {
    height: 100px;
  }
  .person {
    top: 15px;
    left: 10%;
  }
  .icon {
    font-size: 20px;
  }
  .personNameStatus {
    margin-left: 10px;
  }
  .personName {
    margin-bottom: 5px;
  }
}

@media (max-width: 400px) {
  .personPhoto {
    width: 50px;
    height: 50px;
  }
  header {
    height: 80px;
  }
  .person {
    top: 15px;
    left: 10%;
  }
  .icon {
    margin: 5px;
  }

  .personNameStatus {
    margin-left: 10px;
  }
  .personName {
    margin-bottom: 0px;
  }
}


.form {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
.form-input {
  flex: 1;
  background-color: #f0f0f0;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-right: 10px;
}
.form-input:focus {
  border-color: #000;
  outline: none;
}
.sendButton {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 30px;
}
.sendButton:hover {
  color: #8f8b8f;
}
.sendButton:active {
  color: white;
  transform: scale(0.9);
}


