#edit-profile {
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  #edit-profile {
    top: 100px;
  }
}
