* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  background-color: white;
  color: #333;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 150px;
  padding-bottom: 60px;
}
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 730px;
}
.message-self {
  color: white;
  background-color: #141214;
  border-radius: 20px;
  border: 1px solid black;
  margin: 5px 0;
  padding: 9px;
  max-width: 30%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  align-self: flex-start;
}
.message-other {
  color: black;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  margin: 5px 0;
  padding: 9px;
  max-width: 30%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  align-self: flex-end;
}
.message-time {
  color: #8f8b8f;
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
}
#done-all-chat{
    color:white;
}
@media (max-width: 900px) {
}
@media (max-width: 600px) {
  .messages{
    margin-top: -55px;
    max-height: 785px;
  }
}
@media (max-width: 400px) {
  .messages{
    margin-top: -70px;
    max-height: 800px;
  }
}

