#search-user-name-input {
  background-color: #f0f0f0;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-right: 10px;
  height: 30px;
  width: 70%;
}

@media (max-width: 900px) {
  #search-user-name-input {
    margin-right: 5px;
  }
}

@media (max-width: 600px) {
  #search-user-name-input {
    margin-right: 0;
    font-size: 14px;
    height: 25px;
    width: 50%;
  }
}
@media (max-width: 400px) {
}

